@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Komponentteja tehdessä kannattaa muistaa käyttää näitä!*/


h1 {
  font-family: 'DM Serif Display', serif;
  color: #514B3B;
  text-align: center;
  width: 100%;
}
/*Tämä on mm. painikkeiden teksteille.*/
h2 {
  font-family: 'Open Sans', sans-serif;
  color: #514B3B;
  text-align: center;
  width: 100%;
}
/*Kaikki pienemmät otsikot pääotsikon jälkeen ja footerin linkit...*/
h3 {
  font-family: 'DM Serif Display', serif;
  color: #514B3B;
  text-align: center;
  width: 100%;
}
p {
  color: #514B3B;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  padding: 15px;
}
footer {
  background-color: #A8AE8A;
}

footer p {
  text-align: start;
}

footer a{
  font-family: 'DM Serif Display', serif;
  text-decoration: none;
  color: #514B3B;
  margin-top: 1em;
}

footer a:hover{
  text-decoration: none;
  color: #948f84;
}

.footer_ul {
  list-style-type: none;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  background: #A8AE8A;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 10px #ccc;

}

.back-to-top:hover {
  background: #514B3B;
}

.picture {
  text-align: center;
}