header {
    background-color: #A8AE8A;
  }
/*Kielinapin muotoilu, vasen yläkulma isolla näytöllä, mobiilissa ja tabletilla hampurilaisessa.*/
img {
 width: 6em; 
 height: 6em;
}

.kieli a{
    text-decoration: none;
    color: #514B3B;
    margin-top: 1em;
}

.kieli a:hover{
    text-decoration: none;
    color: #948f84;
}

.FI {
    margin-left: 1em;
    margin-right: 0.2em;
}

.EN {
    margin-left: 0.2em;
}