/*Kielinapin muotoilu, vasen yläkulma isolla näytöllä, mobiilissa ja tabletilla hampurilaisessa.*/
.kieli {
  width: 20%;
}
.kieli a {
  text-decoration: none;
  color: #514b3b;
  margin-top: 1em;
}

.kieli a:hover {
  text-decoration: none;
  color: #948f84;
}

.FI {
  margin-left: 1em;
  margin-right: 0.2em;
}

.EN {
  margin-left: 0.2em;
}

img {
  width: 6em;
  height: 6em;
}

.navbar {
  background-color: #a8ae8a;
}
